block home-item 
    .our-institutions__item 
        .our-institutions__item--left 
            h3 ROCHESTER INSTITUTE OF TECHNOLOGY
            .icon 
                ul 
                    li 
                        i.fas.fa-globe-europe
                        |American
                    li 
                        i.fas.fa-map-marker-alt
                        |New York, Rochester
                    li 
                        i.fas.fa-flag
                        |Secondary
            p.text 
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .our-institutions__item--right
            img(src="./images/school1.jpg", alt="")
