block footer 
    .footer 
        .footer__wrap 
            .footer__left
                ul
                    li 
                        span.address Địa chỉ
                    li 
                        span Thành Phố Đồng Xoài, Bình Phước
                    li 
                        span 
                            i.fas.fa-phone-alt 
                            |(+84) 78 338 9393
                            
            .footer__right 
                .footer__right-two
                    ul
                        li.logo1 
                            a(href="https://www.facebook.com/profile.php?id=100008245391646", target="_blank") 
                                img(src="./images/logo-f-3.svg", alt="")
                            img(src="./images/logo-f-2.svg", alt="")
                            img(src="./images/logo-f-1.svg", alt="")
                        li @ taxi-24/7 