block header
        .header
            .header__wrap
                .header__logo 
                    img(src="./images/logo3.png", alt="logo")
                .header__menu 
                .header__phone 
                    i.fas.fa-phone-alt 
                    a(href="tel:(+84) 78 338 9393") (+84) 78 338 9393