block home 
	.banner 
		img(src="./images/day-night.jpg", alt="")
	section 
		.section5 
			h1.help Taxi tại Đồng Xoài?
			.button
				a(href="tel: (+84) 78 338 9393")  Liên hệ ngay
	.__logo
		.logo__wrap  
			img(src="./images/logo-item.png", alt="")
	section 
		.section2 
			.section__wrap
				.content__top 
					h2.__titile Vì sao chọn taxi giá rẻ Đồng Xoài
					.description 
						p Với phương châm “Khách hàng là tất cả” và “An toàn, tiện lợi, mọi lúc, mọi nơi”, từ ngày đầu thành lập đến nay Mai Linh không ngừng mở rộng địa bàn, nâng cao chất lượng phương tiện, phát triển dịch vụ, huấn luyện đội ngũ lái xe, ứng dụng cập nhật công nghệ trong phục vụ khách hàng. 
				.content__left 
					img(src="./images/logo.png", alt="")
